In [1]:
import pandas as pd

filename = 'uhnb1_con_b_c_xyz.csv'
points = pd.read_csv(filename)

resolution = 1

points['Xidx'] = (points.X/resolution).astype(int)
points['Yidx'] = (points.Y/resolution).astype(int)

remove_min = lambda x: x - x.min()

points = points.drop(['X','Y'], axis=1)
grouped_points = points.groupby(['Xidx','Yidx'])


# ground.head()

In [6]:
grouped_points.min()

                 Z
Xidx   Yidx
263113 53084  0.11
       53085  0.00
       53086  0.00
263114 53083  0.00
       53084  0.00
       53085  0.00
       53086  0.00
       53087  0.00
263115 53082  0.59
       53083  0.00
       53084  0.00
       53085  0.00
       53086  0.00
       53087  0.00
       53088  0.00
263116 53081  0.00
       53082  0.00
       53083  0.00
       53084  0.00
       53085  0.00
       53086  0.00
       53087  0.00
       53088  0.00
       53089  0.00
263117 53081  0.00
       53082  0.00
       53083  0.00
       53084  0.00
       53085  0.00
       53086  0.00
...            ...
263250 53091  0.00
       53092  0.00
       53093  0.00
       53094  0.00
       53095  0.00
263251 53086  0.00
       53087  0.00
       53088  0.25
       53089  0.10
       53090  0.09
       53091  0.00
       53092  0.00
       53093  0.00
       53094  0.00
263252 53087  0.00
       53088  0.00
       53089  0.05
       53090  0.00
       53091  0.06
       53092  0.08
       53093  0.00
263253 53088  0.11
       53089  0.00
       53090  0.00
       53091  0.00
       53092  0.00
263254 53089  0.00
       53090  0.00
       53091  0.00
263255 53090  0.24

[10354 rows x 1 columns]